<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hebut.here">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Here"
        android:networkSecurityConfig="@xml/network_test">

        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
            </intent-filter>
        </receiver>

        <receiver android:name=".service.AlarmReceiver" />

        <service
            android:name=".service.LongRunningService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".data.MyContentProvider"
            android:authorities="edu.hebut.here.data"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".ui.remind.AddGoodsActivity" />
        <activity android:name=".ui.ChangeGoodsActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity
            android:name=".ui.remind.OverdueActivity"
            android:label="@string/title_activity_overdue"
            android:theme="@style/Theme.Here.HaveActionBar" />
        <activity
            android:name=".ui.space.SpaceGoodsCommon"
            android:label="@string/title_activity_space_goods_common"
            android:theme="@style/Theme.Here.HaveActionBar" />
        <activity
            android:name=".ui.setting.HouseActivity"
            android:label="@string/title_activity_add_house"
            android:theme="@style/Theme.Here.HaveActionBar" />
        <activity
            android:name=".ui.setting.RoomActivity"
            android:label="@string/title_activity_add_room"
            android:theme="@style/Theme.Here.HaveActionBar" />
        <activity
            android:name=".ui.setting.FurnitureActivity"
            android:label="@string/title_activity_add_furniture"
            android:theme="@style/Theme.Here.HaveActionBar" />
        <activity
            android:name=".ui.setting.ContainerActivity"
            android:label="@string/title_activity_add_container"
            android:theme="@style/Theme.Here.HaveActionBar" />
        <activity
            android:name=".ui.setting.CategoryActivity"
            android:label="@string/title_activity_add_category"
            android:theme="@style/Theme.Here.HaveActionBar" />
        <activity
            android:name=".ui.setting.PasswordActivity"
            android:label="@string/title_activity_password"
            android:theme="@style/Theme.Here.HaveActionBar" />
        <activity
            android:name=".ui.setting.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Here.HaveActionBar" />
        <activity
            android:name=".activity.LoginPasswordActivity"
            android:label="@string/title_activity_password"
            android:theme="@style/Theme.Here.HaveActionBar" />
    </application>

</manifest>